/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.task-container {
    max-width: 900px;
    margin: 20px auto;
}

mat-form-field {
    width: 100%;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
}

mat-card {
    padding: 20px;
}